<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cash Explosion Data Center Dashboard</title>
        <link rel="stylesheet" href="../static/dashboardstyle.css" />
    </head>
    <body>
        <div class="grid">
            <div class="panel">
                <iframe src="../static/dashboard.html" style="border:none; width:100%; height:100%;"></iframe>
            </div>
            <div class="panel">Panel 2</div>
            <div class="panel">Panel 3</div>
            <div class="panel">Panel 4</div>
        </div>
        <script src="../static/dashboardscript.js"></script>
    </body>
</html>